<div class="container">
    <div class="left-container">
        <div class="location-section">
            <div class="address-inputs">
                <div class="from-address">
                    <label>From:</label>
                    <div class="search-wrapper">
                        <mapbox-search-box #fromAddressSearch class="search-container"></mapbox-search-box>
                        <div class="search-loader" *ngIf="isSearchLoading">
                            <div class="loader"></div>
                        </div>
                    </div>
                </div>
                <div class="to-address">
                    <label>To:</label>
                    <div class="search-wrapper">
                        <mapbox-search-box #toAddressSearch class="search-container"></mapbox-search-box>
                        <div class="search-loader" *ngIf="isSearchLoading">
                            <div class="loader"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map-container">
                <div #mapContainer id="map"></div>
            </div>
        </div>
        <div class="geo-info-section">
            <div class="geo-toggle">
                <label>Show Geo Info</label>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="geo-info-table">
                <table>
                    <tr>
                        <th>Item</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>Rockford</td>
                    </tr>
                    <tr>
                        <td>Quality food availability</td>
                        <td>Low</td>
                    </tr>
                    <tr>
                        <td>Crime</td>
                        <td>High</td>
                    </tr>
                    <tr>
                        <td>Pollution</td>
                        <td>High</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div class="emotion-section">
            <div class="emotion-grid">
                <div class="emotion-label top">Calm</div>
                <div class="emotion-label left">Dissatisfied</div>
                <div class="emotion-label right">Satisfied</div>
                <div class="emotion-label bottom">Stressed</div>
                <div class="grid-container" #emotionGrid>
                    <div class="crosshair" *ngIf="showCrosshair" [style.left.px]="crosshairX" [style.top.px]="crosshairY">
                        <div class="horizontal"></div>
                        <div class="vertical"></div>
                    </div>
                    <div class="emotion-indicator" *ngIf="selectedEmotion" [style.left.px]="selectedX" [style.top.px]="selectedY">
                        <div class="emoji">{{selectedEmotion.emoji}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="details-section">
            <div class="date-time">
                <div class="date-picker">
                    <label>Date: </label>
                    <input type="date" value="2024-03-01">
                </div>
                <div class="time-picker">
                    <label>Time: </label>
                    <input type="time" value="10:30">
                </div>
                <span>to</span>
                <div class="time-picker">
                    <input type="time" value="10:30">
                </div>
            </div>
            <div class="lists-container">
                <div class="activity-type">
                    <label>Activity Type: </label>
                    <div class="scroll-list">
                        <div class="option-list">
                            <p class="option">Grocery</p>
                            <p class="option">School</p>
                            <p class="option">Friend/Neighbor</p>
                            <p class="option">Family/Relative</p>
                        </div>
                    </div>
                </div>
                <div class="transport-type">
                    <label>Transport Type: </label>
                    <div class="scroll-list">
                        <div class="option-list">
                            <p class="option">Drive</p>
                            <p class="option">Bus</p>
                            <p class="option">Train</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comments">
                <textarea placeholder="Add your comments here"></textarea>
            </div>
            <div class="action-buttons">
                <button class="cancel-btn">Cancel</button>
                <button class="submit-btn">Submit</button>
            </div>
        </div>
    </div>
</div>
