<div class="container">
    <div class="main-content">
        <div class="left-panel">
            <div class="date-selector-container">
                <div class="date-selector" #dateSelector>
                    <div class="date" 
                        *ngFor="let date of journeyDates" 
                        [class.active]="date === activeDate"
                        (click)="setActiveDate(date)">
                        {{date}}
                    </div>
                </div>
                <div class="date-picker-container">
                    <!-- Hidden input for date picker -->
                    <input [matDatepicker]="picker" [(ngModel)]="pickerDate" (dateChange)="onDateSelected($event)" style="display: none">
                    <mat-datepicker-toggle [for]="picker" style="display: none"></mat-datepicker-toggle>
                    <mat-datepicker #picker 
                        (closed)="onDatePickerClosed()"
                        [restoreFocus]="false">
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                    <button class="add-date" (click)="openDatePicker($event)" #addDateBtn>
                        <span class="plus">+</span>
                        <span class="text">Add Date</span>
                    </button>
                </div>
            </div>
            <div class="places-list">
                <div class="place" 
                    *ngFor="let place of places; let i = index"
                    [class.selected]="place === selectedPlace"
                    (click)="selectPlace(place)">
                    <span class="place-info">
                      <span class="marker-alphabet">{{'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[i % 26]}}.</span>
                      <span>{{place.activityType}} &#64; {{place.placeLabel}}</span>
                    </span>
                </div>
                <div class="no-places" *ngIf="!activeDate">
                    Select a date to add places
                </div>
                <div class="no-places" *ngIf="activeDate && places.length === 0">
                    No places added to this date yet
                </div>
            </div>
            <div class="action-buttons">
                <button class="add-btn" 
                        [disabled]="!activeDate"
                        [class.disabled]="!activeDate"
                        (click)="addPlace()">
                    Add
                </button>
                <button class="edit-btn" 
                        [disabled]="isEditRemoveDisabled()"
                        [class.disabled]="isEditRemoveDisabled()"
                        (click)="editCard()">
                    Edit
                </button>
                <button class="remove-btn"
                        [disabled]="isEditRemoveDisabled()"
                        [class.disabled]="isEditRemoveDisabled()"
                        (click)="removeCard()">
                    Remove
                </button>
            </div>
        </div>
        <div class="right-panel">
            <div #mapContainer class="map-container"></div>
        </div>
    </div>
    <div class="bottom-buttons">
        <button class="submit-btn" (click)="onSubmit()">Submit</button>
    </div>
</div>
