<div class="perception-grid">
  <div class="perception-label top">{{ topLabel || 'Calm' }}</div>
  <div class="perception-label left">{{ leftLabel || 'Dissatisfied' }}</div>
  <div class="perception-label right">{{ rightLabel || 'Satisfied' }}</div>
  <div class="perception-label bottom">{{ bottomLabel || 'Stressed' }}</div>

  <div
    class="grid-container"
    #grid
    [class.grabbing]="isDragging"
    (click)="onGridClick($event)"
    (mousedown)="onGridMouseDown($event)"
    (mousemove)="onGridMouseMove($event)"
    (mouseup)="onGridMouseUp()"
    (mouseleave)="onGridMouseLeave()"
  >
    <div class="axis axis-x"></div>
    <div class="axis axis-y"></div>

    <ng-container *ngIf="getDisplayCoordinates() as coords">
      <div
        class="perception-indicator"
        [style.left.px]="coords.x"
        [style.top.px]="coords.y"
      >
        <div class="perception-annotation">
          {{ selectedPerception.text }}
        </div>
        <div class="perception-dot"></div>
      </div>
    </ng-container>
  </div>
</div>


